<section class="primary" id="header" style="padding: 100px 0 100px;" >
<div class="container">
    <div class="jumbotron">
        <ul class="nav nav-tabs">
            <h1>TripMate</h1>
            <li class="nav-item-mainpage" style="position: relative; left: 70% ">
                <a class="nav-link active" data-toggle="tab" href="#home">Przejazdy</a>
            </li>
            <li class="nav-item-mainpage" style="position: relative; left: 70% ">
                <a class="nav-link" href="/login">Zaloguj</a>
            </li>
        </ul>

        <div class="jumbotron">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active show" id="home">

                    <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                        <div class="card-header"><h4>Paryż</h4></div>
                        <div class="card-body">
                            <p>Z: miejscowość</p>
                            <p>Data: 12-04-2019</p>
                            <p>Wolnych miejsc: 3</p>
                            <button type="button" class="btn btn-secondary"
                                    style="position: absolute; right: 1%; bottom: 3%">Szczegóły
                            </button>
                        </div>
                    </div>

                    <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                        <div class="card-header"><h4>Paryż</h4></div>
                        <div class="card-body">
                            <p>Z: miejscowość</p>
                            <p>Data: 12-04-2019</p>
                            <p>Wolnych miejsc: 3</p>
                            <button type="button" class="btn btn-secondary"
                                    style="position: absolute; right: 1%; bottom: 3%">Szczegóły
                            </button>
                        </div>
                    </div>

                    <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                        <div class="card-header"><h4>Paryż</h4></div>
                        <div class="card-body">
                            <p>Z: miejscowość</p>
                            <p>Data: 12-04-2019</p>
                            <p>Wolnych miejsc: 3</p>
                            <button type="button" class="btn btn-secondary"
                                    style="position: absolute; right: 1%; bottom: 3%">Szczegóły
                            </button>
                        </div>
                    </div>

                    <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
                        <div class="card-header"><h4>Paryż</h4></div>
                        <div class="card-body">
                            <p>Z: miejscowość</p>
                            <p>Data: 12-04-2019</p>
                            <p>Wolnych miejsc: 3</p>
                            <button type="button" class="btn btn-secondary"
                                    style="position: absolute; right: 1%; bottom: 3%">Szczegóły
                            </button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="logIn">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                        Exercitation
                        +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                        farm-to-table
                        craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                        ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus
                        mollit.</p>
                </div>

            </div>
        </div>

    </div>


</div>
</section>
