<script src="../app.component.ts"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

    <a class="navbar-brand" style="position: relative; left: 10%; font-size: 30px" href="/">TripMate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01" style="position: relative; left: 60% ">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home/trip">Twoje przejazdy</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home/searchForTrips">Znajdź przejazd</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home/tripAdd">Dodaj przejazd</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger mr-4" routerLink="/home/profile" routerLinkActive="active">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger cursor-pointer" (click)="Logout()"  role="button">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<router-outlet>Loading ...</router-outlet>




