<section class="bg-primary welcome_bg" id="header" style="padding: 200px 0 100px; ">
    <div class="container">
        <div class="row header-text">
            <div class="col-sm-8 pull-left text-left">
                <div class="margin-100 text-white">
                    <h1>TripMate,</h1>
                    <h3>wspólne przejazdy to łatwiejsze podróżowanie</h3>
                </div>
                <br>
                <a href="/register" class="btn btn-outline-secondary text-white">Dołącz do nas!</a>

            </div>

        </div>

    </div>

</section>

<section id="diet" style="padding: 100px 0;" >
    <div class="container">
        <div class="row">

            <div class="col-sm-6" data-aos="fade-right" data-aos-duration="1200">
                <img class="pull-left" src="../../../assets/img/autoTrip.jpg" alt="autoTrip">
            </div>

            <div class="col-sm-6 margin-30">
                <h2>Dokąd jedziesz?</h2>
                <p class="lead">Wybierz się w najoszczędniejszą podróż swojego życia. </p><br />
                <a href="/login" class="bg-primary btn btn-outline-secondary text-white">Dodaj przejazd</a>
            </div>
        </div>
    </div>
</section>

<section class="alert-secondary" id="training" style="padding: 70px 0;" >
    <div class="container">
        <div class="row">

            <div class="col-sm-6 margin-30">
                <h2>Jedź dosłownie dokądkolwiek. Skądkolwiek.</h2>
                <p class="lead">Sprytnie, łatwo i bezproblemowo</p>
                <ul>
                    <li>Z dostępem do milionów przejazdów możesz szybko znaleźć osoby blisko Ciebie, które jadą w tę samą stronę, co Ty.</li>
                    <li>Wpisz swój dokładny adres, żeby znaleźć przejazd idealny dla siebie. Wybierz, z kim chcesz podróżować. I zarezerwuj miejsce!</li>
                    <li>Dotrzyj do miejsca docelowego swojej podróży bez problemu. Bez kolejek. Bez czekania.</li>
                </ul>
            </div>

            <div class="col-sm-6" data-aos="fade-left" data-aos-duration="1200">
                <img class="pull-right" src="../../../assets/img/location.png" alt="location">
            </div>

        </div>
    </div>
</section>

<section id="phone" style="padding: 100px 0;" >
    <div class="container">
        <div class="row">

            <div class="col-sm-6" data-aos="fade-right" data-aos-duration="1200">
                <img class="pull-left" src="../../../assets/img/TripMate.jpg" alt="TripMate">
            </div>

            <div class="col-sm-6 margin-30">
                <h2>Korzystaj w przeglądarce internetowej lub na telefonie</h2>
                <p class="lead"> TripMate jest zawsze tam gdzie Ty! W kuchni, na zewnątrz czy przy biurku. Zawsze gdy potrzebujesz skorzystać z TripMate, możesz to zrobić za pośrednictwem przeglądarki lub smartfona.</p><br />
            </div>
        </div>
    </div>
</section>
